<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Suerte - GamerStore</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <h1>GamerStore</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{url_for('masjugados')}}">Mas jugados</a></li>
                <li><a href="{{url_for('dota')}}">Dota 2</a></li>
                <li><a href="{{url_for('minecraft')}}">Minecraft</a></li>
                <li><a href="{{url_for('pou')}}">Pou</a></li>
                <li><a href="{{url_for('left')}}">Left 4 Dead</a></li>
                <li><a href="{{url_for('fortnite')}}">Fortnite</a></li>
                <li><a href="{{url_for('gta5')}}">GTA V</a></li>
                <li><a href="{{url_for('apisuerte')}}">Prueba suerte</a></li>
                <li><a href="{{url_for('carrito')}}">Carrito</a></li>
                <li><a href="{{url_for('contacto')}}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
    <section class="descripcion">
        <h2>Prueba un juego nuevo!</h2>
        <p>Haz clic en el botón para obtener un juego por descubrir</p>
        
        <button onclick="juegoAleatorio()" class="btn btn-primary">Juego aleatorio</button>
        
       
        <div id="resultado" class="resultado-centrado"></div>
    </section>
    </main>

    <footer>
        <p>© 2025 GamerStore / toda la información sobre videojuegos</p>
    </footer>

</body>
</html>