<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito - GamerStore</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Carrito de Compras</h1>
        <nav>
            <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{url_for('masjugados')}}">Mas jugados</a></li>
                <li><a href="{{url_for('dota')}}">Dota 2</a></li>
                <li><a href="{{url_for('minecraft')}}">Minecraft</a></li>
                <li><a href="{{url_for('pou')}}">Pou</a></li>
                <li><a href="{{url_for('left')}}">Left 4 Dead</a></li>
                <li><a href="{{url_for('fortnite')}}">Fortnite</a></li>
                <li><a href="{{url_for('gta5')}}">GTA V</a></li>
                <li><a href="{{url_for('apisuerte')}}">Prueba suerte</a></li>
                <li><a href="{{url_for('carrito')}}">Carrito</a></li>
                <li><a href="{{url_for('contacto')}}">Contacto</a></li>
        </nav>
    </header>

    <main>
        <section class="descripcion">
            <h2>Tu Carrito</h2>
            <p>Aquí verás los juegos que agregaste. ¡Cotiza con nosotros por WhatsApp!</p>
        </section>

        <section id="carrito-contenido">
            <div id="carrito-lista"></div>
            <div id="carrito-vacio" style="text-align: center; color: #c7d5e0;">
                <p>Tu carrito está vacío. ¡Agrega juegos desde las páginas!</p>
            </div>
        </section>

        <section class="total">
            <h3>Total: <span id="total-precio">S/ 0.00</span></h3>
            <button id="vaciar-carrito" class="btn btn-danger">Vaciar carrito</button>
            <button onclick="enviarWhatsApp()" class="btn-finalizar">
    Finalizar Compra por WhatsApp
</button>

        </section>
    </main>

    <footer>
        <p>© 2025 GamerStore / toda la información sobre videojuegos</p>
    </footer>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>